
<div class="row">
    <div class="small-6 columns">
        <% provide(:title, 'All users') %>
        <h1>All users</h1>
        <table>
            <thead>
                <th>Username</th>
                <%#= link_to user.name, user %>
</thead>

<td> <% @users.each do |user| %>
                
                 <%=user.name%></td>

                <td class="button"><%=link_to "DELETE", delete_path%></td>
                </tr>
                </tbody>
        </table> <%# <%=book.status%>
<% end %></div></div>
