<% provide(:title, "My Borrowed Books") %>
<table>
    <thead>
        <th>Book Title</th>
        <th>Surcharge</th>
    </thead>
    <tbody>
<% if @user.books.any? %>
    <% @books.each do |buk| %>
        <tr>
            <td><%= buk.title %></td>       
            <td><%= buk.surcharge %></td>       
            <% if buk.whereabouts == "lost" %>
                <td><b>LOST</b></td> 
            <% else %>
                <td class="button"><%= link_to "LOST", lost_path(id: buk.id) %></td>
            <% end %>
        </tr>
    <% end %>
<% end %>
    </tbody>
</table>
