<% provide(:title, "You are signed up") %>
<h1>
    <%= @user.name %>
</h1>
<%# <% if @user.books.any? %1> %>
<%#     <h3>Books (<%= @user.books.count %1>)</h3> %>
<%#     <ol class="books"> %>
<%#         <%= render @books %1> %>
<%#     </ol> %>
<%#     <%#= will_paginate @microposts %1> %>
<%# <% end %1> %>
