<% provide(:title, "You are signed up") %>
<h1>
    <%= @user.name %>
</h1>
<% if @user.books.any? %>

    <h3>Books (<%= @user.books.count %>)</h3>
    <ol class="books">
        <%= render @books %>
    </ol>
    <%#= will_paginate @microposts %>
<% end %>
