<div class="row">
    <div class="large-6 columns">


<h3>All Surchaged Books</h3>
<table>
    <thead>
        <th>Book Title</th>
        <th>Lost By</th>
        <th>Surcharge</th>
    </thead>
    <tbody>
    <% @books.each do |buk| %>
        <tr>
            <td><%= buk.title %></td>       
            <td>
                <% @user = User.find_by(id: buk.user_id)%>
                <%= @user.name %>
            </td>
            <td>ksh.<%= buk.surcharge %></td>       
            <%# <td class="button"><%= link_to "SURCHARGE", surcharge_path(id: buk.id) %1></td> %>
        </tr>
    <% end %>
    </tbody>
</table>
    </div>
    </div>
