<h3>Borrowed Books</h3>
<% @books.each do |bk| %>
    <li>
        <%=bk.title%> | 
        Borrowed by 
        <% @user = User.find_by(id: bk.borrower_id) %>
        <%= @user.name %>
        <%= link_to "GIVE", give_path(id: bk.id) %>
    <li>
<% end %>
