<h3>Given Away Books</h3>
<% @books.each do |bk| %>
    <li>
        <%=bk.title%> | 
        Given to 
        <% @user = User.find_by(id: bk.user_id) %>
        <%= @user.name %> |
        <%= link_to "RETURNED", returned_path(id: bk.id) %> 
        <% if bk.due_date < Time.zone.now %>
            | <%= link_to "SURCHARGE", '#' %>
        <% end %>
    <li>
<% end %>
