<% provide(:title, 'All books') %>
<h1>All books</h1>

<% @books.each do |b| %>
    <% if current_user.admin? %>
               <li><%=b.title%> | Borrowed by | <%= link_to "GIVE", '#' %><li>
    <% else %>
        <li><%=b.title%> | <%=link_to "Borrow Book", borrow_url(id: b.id, user_id: b.user_id)%></li>
    <% end %>
<%end%>
