// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.success{
    background: blue;
    padding: 15px;
}
.danger{
    background: red
}
.button a{
    color: black;
}
.fail{
    background: grey;
    padding: 20px;
}
.top-bar li {
    a {
        &:hover {
                        color: black;
                                
        }
            
    }

}

