p{
    color: grey;
}
.row{
    background: url(book.JPG) no-repeat;

}


.rower{
    background: url(book.JPG) no-repeat;

}
.top-bar{
    background-color:black; 

}

// Place all the styles related to the Layouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
