<%= provide(:title, "About") %>
<div class="rower">
<h1 style = "text-align: center">Gee~Lib About Page!</h1>
<p><i><b>Geelib be the best online liibrary you ever been on man. Too dope Imust say. 
 Soo much to learn in so little time huh?
 Worry no more coz life just got easier. Gee~LIb reaches out to almost everybody, I say almost 
ecausse not every person isliterate. So to get in 
simply <%=link_to "Sign up", signup_path%> to create an account and get started on your learning adventure
Learn more about us in our <%=link_to "About", about_path%> page</b></i></p>i
</div>
