<%= provide(:title, "About") %>
<h1>Welcome to Gee~Lib About Page!</h1>
<p>For the best books be it inpirational, educational, religion, research, entertainment
.Find her your favorite collection.</p>
